soapclient/src/main/resources/wsdl/DataSoap.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.soapserveryt.com/api/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.soapserveryt.com/api/soap" targetNamespace="http://www.soapserveryt.com/api/soap">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.soapserveryt.com/api/soap">
            <!--  client request  -->
            <element name="ClientRequest">
                <complexType>
                    <sequence>
                        <element name="username" type="string" />
                        <element name="apiKey" type="string" />
                    </sequence>
                </complexType>
            </element>
            <!--  end client request  -->
            <!--  server response  -->
            <element name="ServerRespond">
                <complexType>
                    <sequence>
                        <element name="isApprove" type="boolean" />
                        <element name="fullname" type="string" />
                        <element name="salary" type="string" />
                        <element name="address" type="string" />
                        <element maxOccurs="unbounded" name="errorMsg" type="string" />
                    </sequence>
                </complexType>
            </element>
            <!--  end server response  -->
        </schema>
    </wsdl:types>
    <wsdl:message name="ClientRequest">
        <wsdl:part element="tns:ClientRequest" name="ClientRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DataSoapPort">
        <wsdl:operation name="Client">
            <wsdl:input message="tns:ClientRequest" name="ClientRequest"></wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DataSoapPortSoap11" type="tns:DataSoapPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Client">
            <soap:operation soapAction="" />
            <wsdl:input name="ClientRequest">
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DataSoapPortService">
        <wsdl:port binding="tns:DataSoapPortSoap11" name="DataSoapPortSoap11">
            <soap:address location="http://localhost:8080/ws" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>